.menu-content{
    background-color: #2e51a2;
    height: 28px;
    padding: 10px 5px 5px;
}
a.content{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 24px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    text-decoration: none;
    margin-right: 10px;
}
.content:hover{
    background: #e1e7f5;
    color: #000;
}
a.content1{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 24px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    text-decoration: none;
    margin-right: 510px;
}
.content1:hover{
    background: #e1e7f5;
    color: #000;
}
.home-title{
    background-color: #e1e7f5;
    border-bottom-color: #1d439b;
    border-left-color: #ebebeb;
    border-right-color: #ebebeb;
    border-style: solid;
    border-top-color: #ebebeb;
    border-width: 1px;
    color: #000;
    font-family: Verdana,Arial;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 5px 9px;
    text-align: left;
}
img {
    float: left; 
    width:130px;
    height:180px;
    margin-right:15px;
}
.active{
    background-color: lightblue;
    color: white;
}
.pagi a:hover{
    background-color: aqua;
}
.news2 img{
    margin-bottom: 50px;
    width: 1500px;
    height: 700px;
}
form{
    text-align: right;
    margin-bottom: 1000px;
}
.title{
    text-decoration: none;
    color: #2e51a2;
}
.title:hover{
    text-decoration: underline;
}
.title a:visited{
    color: red;
}
.search{
    text-align: right;
}
#mcl{
    width:250px;
    height:35px;
}













