.menu-content{
    background-color: #2e51a2;
    height: 28px;
    padding: 10px 5px 5px;
}
a.content{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 24px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    text-decoration: none;
    margin-right: 10px;
}
.content:hover{
    background: #e1e7f5;
    color: #000;
}
a.content1{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 24px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    text-decoration: none;
    margin-right: 520px;
}
.content1:hover{
    background: #e1e7f5;
    color: #000;
}
.home-title{
    background-color: #e1e7f5;
    border-bottom-color: #1d439b;
    border-left-color: #ebebeb;
    border-right-color: #ebebeb;
    border-style: solid;
    border-top-color: #ebebeb;
    border-width: 1px;
    color: #000;
    font-family: Verdana,Arial;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 5px 9px;
    text-align: left;
}
.search{
    text-align: right;
}
.term1{
    font-family: Verdana,Arial;
    font-size: 11px;
    text-decoration: none;
    font-weight: 700;
}
.term2{
    font-family: Verdana,Arial;
    font-size: 11px;
    text-decoration: none;
    font-weight: 700;
}
a.term1:visited {
    color: #1d439b;
    text-decoration: none;
}
a.term2:visited {
    color: #1d439b;
    text-decoration: none;
}
a.term1:hover{
    text-decoration: underline;
    
}
a.term2:hover{
    text-decoration: underline;
    
}
.sign-up{
    
}
.window{
    width: 350px;
    text-align: center
    background-color: #e1e7f5;
    border-bottom-color: #1d439b;
}
